@page "/login"
<h3>Login</h3>
<form method="post">
    <input type="email" placeholder="Email..." />
    <input type="password" placeholder="Password..." />
    <button>Entrar</button>
</form>
@code {

}
