@page "/category/delete/{id}"
 
@using Blazorise
@using CleanArch.WebUI.Blazor.Models
@using CleanArch.WebUI.Blazor.Services;
@using CleanArch.WebUI.Blazor.Services.Category
@inject ICategoryService _categoryService;
@inject NavigationManager navegadorManager;


<div class="container">
    <h3>Deletar Cliente</h3>
     <form class="row g-3">
          <div class="col-md-6">
            <label for="name" class="form-label">Categoria</label>
            <input type="text" readonly class="form-control" @bind="@categoryDto.Name" id="nomeCliente">
          </div>
           
          <div class="col-12">
              <Button Color="Color.Primary" @onclick=DeleteCategory>Deletar</Button>
           
            <button type="submit" class="btn btn-danger" @onclick=Cancelar>Cancelar</button>
          </div>
    </form>
</div>

@code {
    [Parameter]
    public string? Id { get; set; }
    CategoryDto categoryDto = new CategoryDto();
    protected override async Task OnInitializedAsync()
    {
        categoryDto = await _categoryService.GetById(Convert.ToInt32(Id));
    }
    private async Task DeleteCategory()
    {
        await _categoryService.Remove(Convert.ToInt32(Id));
        navegadorManager.NavigateTo("/category");
    }
    void Cancelar()
    {
        navegadorManager.NavigateTo("/category");
    }
   

}
